ENV=production
CLOUDFLARE_API_TOKEN=your-cloudflare-api-token
CLOUDFLARE_ACCOUNT_ID=your-cloudflare-account-id
CLOUDFLARE_PAGES_PROJECT=gn-tracing-player
PLAYER_HOST_URL=https://tracing.gnas.dev/
PLAYER_LOCAL_PORT=5173
VITE_BASE_PATH=/
